{% extends "catalog/base.html" %}
{% block content %}
    <a href="{% url 'author_list' %}">All Authors</a>
    <h1>Name: {{ author.first_name }} {{ author.last_name }} </h1>
    <p><strong>Date of Birth::</strong> <a href="">{{ author.date_of_birth }}</a></p>
    <p><strong>Date of Death:</strong> {{ author.date_of_death }}</p>
    <div>
        {% if author.author_image %}
            <img src="{{ author.author_image.url }}">
        {% endif %}
    </div>
    <div style="margin-left:20px;margin-top:20px">
        <h4>Books</h4>
        {% if author.book_set.all %}
            {% for book in author.book_set.all %}
                <hr>
                <p><a href="{{ book.get_absolute_url }}"> {{ book }}</a></p>
            {% endfor %}
        {% else %}
            <p>No Books Available</p>
        {% endif %}
    </div>
{% endblock %}

<a href="{{ author.get_absolute_url }}"> {{ author.first_name }} {{ author.last_name }}</a>